@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Electrolize&family=Fira+Sans&family=Open+Sans&family=PT+Sans:wght@700&family=Roboto:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

/* Main scroll bar */

html::-webkit-scrollbar {
  width: 0.6em;
}

html::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0)
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(215, 126, 43);
  border-radius: 5em;
}

/* Form scroll bars */

form::-webkit-scrollbar {
  width: 1em;
}

form::-webkit-scrollbar-track {
  width: 20em;
  background-color: rgba(0, 0, 0, 0)
}

form::-webkit-scrollbar-thumb {
  border: 5px solid rgba(255, 255, 255, 0);
  background-clip: padding-box;
  background-color: rgb(215, 126, 43);
  border-radius: 5em;

}

.scroll::-webkit-scrollbar {
  display: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}


button,
input {
  outline: none;
}
